@model FinalYearProject.Models.Fault

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fault</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaultDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaultDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FaultID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
