@model FinalYearProject.Models.Quote

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RMAid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RMAid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabourCostPerHour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabourCostPerHour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabourCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabourCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartsQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartsQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartsCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartsCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuoteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
