@model IEnumerable<FinalYearProject.Models.ServiceCall>

@{
    ViewBag.Title = "Service Calls";
}

<h2>Service Calls</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServiceCallID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServiceCallID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServiceCallID })
        </td>
    </tr>
}

</table>
