@model FinalYearProject.ViewModels.RMAIndexData

@{
    ViewBag.Title = "RMA's";
}

<h2>Index</h2>

<h2>Declaration Of Conformities</h2>

<table class="table">
    <tr>
        <th>Customer</th>
        <th>Product</th>
    </tr>

    @foreach (var item in Model.DOCs)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.RMACreated == false)
                {
                    @Html.ActionLink("Create RMA", "Create", new { @declarationOfConformityID = item.DeclarationOfConformityID }) 
                }
                else
                {
                    ViewBag.RMAStatus = "RMA Created.";
                }
            </td>
        </tr>
    }
</table>

<h2>RMA's</h2>
<table class="table">
   <tr>
       <th>RMA No.</th>
       <th>Status</th>
       <th>Fault Description</th>
       <th>Engineer</th>

       @foreach (var item in Model.RMAs)
       {
           <tr>
               <td>
                   @Html.DisplayFor(modelItem => item.RMAid)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.Status.Description)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.DOCs.FailureInformation)
               </td>
               <td>
                   @Html.DisplayFor(modelItem => item.StaffMembers.FullName)
               </td>
       
        <td>
            @Html.ActionLink("Update", "Edit", new { id=item.RMAid }) |
            @Html.ActionLink("Details", "Details", new { id=item.RMAid }) |
            @Html.ActionLink("Create Quote", "CreateQuote", new { id = item.RMAid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RMAid })
        </td>
    </tr>
}

</table>
